<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Ejemplo de otro archivo html hecho por {{nombre}}</p>
    
    <h3>{{lista}}</h3>
    
    <h2>Como iterar con plantillas de Django</h2>
    
    {% for elementos in lista  %}
        <p style="color: blue;">{{elementos}}</p>
    {% endfor %}

    <h1><p style="color:blueviolet"> JUANCHO</p></h1>


    {% if 1 == True %}
        <p> es correcto </p>
    {% else %}
        <p> incorrecto </p>
    {% endif %}


</body>
</html>